#CONFIGURATION SERVER
PORT= #THE PORT WHERE YOU WANT TO LOAD BACKEND
ENVIRONMENT= # ENVIRONMENT TYPE EG DEVELOPMENT OR PRODUCTION (DEFAULT TO DEVELOPMENT)
YUJU= # A SIMPLE TRIP

#CONFIGURATION DB
POSTGRESQL_USER= #
POSTGRESQL_HOST= #
POSTGRESQL_DATABASE_NAME= #
POSTGRESQL_DATABASE_PASSWORD= #
POSTGRESQL_DATABASE_PORT= #